@import '../../style-variables';

.navigation-item {
  display: flex;
  flex-direction: column;
  gap: $small-gap;

  &__title {
    font-size: $subtitle;
    font-weight: 700;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__list-item-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nav-icons;
  }

  &__list-item-icon {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--pc {
      background-image: url("../../assets/images/pc.svg");
    }

    &--playstation1 {
      background-image: url("../../assets/images/ps4.svg");
    }

    &--xbox-old {
      background-image: url("../../assets/images/x-box.svg");
    }

    &--ios {
      background-image: url("../../assets/images/ios.svg");
    }

    &--android {
      background-image: url("../../assets/images/android.svg");
    }
  }
}
