@import '../../style-variables';

.app {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  width: 100%;
  color: $white;
  background-color: $dark;
  font-size: $text;
  line-height: 1.2;
  padding: $big-gap;
}
