$black: black;
$white: white;
$dark: #151515;
$nav-icons: #2D2D2D;
$search: #3B3B3B;
$card: #202020;
$card-icons: #373737;
$primary-text: $white;
$secondary-text: #6E6E6E;
$card-button: #303030;
$danger: #FC4B30;
$warning: #FECA52;
$success: #6FCE4B;
