@import '../../style-variables/index';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $medium-gap;

  &__logo {
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    color: $primary-text;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: $small-gap;
    transition: opacity .2s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
